@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?&family=Poppins:wght@400;500;600&display=swap');




*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.heading-bold{
  font-weight: 600;
}

.subheading-bold {
  font-weight: 500;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-slide {
  animation: fadeInSlide 2s ease-out;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


.dim{
    --tw-brightness: brightness(.4);
      filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}